<!DOCTYPE html>
    <div class="header">
        <span class="title"><%=topicTreeTitle%></span>
        <div class="pull-right">
            <span tabindex="0" class="glyphicon glyphicon-remove"></span>
            <span tabindex="0" class="glyphicon glyphicon-print"></span>
        </div>
    </div>

    <div class="content container-fluid">
        <div class="inhalt">
            <a href="#allgemein"><%=generalInfoText%></a>
            <a href="#themen"><%=topicsText%></a>
            <a href="#auswahl"><%=selectionText%></a>
            <a href="#auswahlSave"><%=saveSelectionText%></a>
        </div>
        <h3 id="allgemein"><%=generalInfoText%></h3>
        <div class="row">
            <p class="col-md-12">
                <%=topicsHelp1Text%>
            </p>
        </div>
        <h3 id="themen"><%=topicsText%></h3>
        <div class="row">
            <p class="col-md-12">
                <%=topicsHelp2Text%>
            </p>
        </div>
        <div class="row">
            <p class="col-md-12">
                <img class="img-responsive img-thumbnail .center-block" src="<%= imgPath + aufbau1 %>">
            </p>
        </div>
        <div class="row">
            <p class="col-md-12">
                <%=topicsHelp3Text%>
            </p>
        </div>
        <div class="row">
            <p class="col-md-12">
                <img class="img-responsive img-thumbnail .center-block" src="<%= imgPath + aufbau2 %>">
            </p>
        </div>
        <div class="row">
            <p class="col-md-12">
                <%=topicsHelp4Text%>
            </p>
        </div>
        <h3 id="auswahl"><%=selectionText%></h3>
        <div class="row">
            <p class="col-md-12">
                <%=topicsHelp5Text%>
            </p>
        </div>
        <h3 id="auswahlSave"><%=saveSelectionText%></h3>
        <div class="row">
            <p class="col-md-12">
                <%=topicsHelp6Text%>
            </p>
        </div>
</div>
